* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

html {
  max-height: 100vh;
}

body {
  height: 100%;
  background-color: cadetblue;
}

.main {
  margin: 20% auto;
  background-color: #fff;
  width: 30%;
  min-height: auto;
  border-radius: 30px;
  padding: 13px 10px 0 10px;
  font-size: 20px;
}

.task__inner {
  display: flex;
  flex-direction: column;
}

.answer {
  margin-bottom: 5px;
}

.task {
  margin-bottom: 10px;
}

.answer__input {
  width: 100%;
  font-size: 18px;
}

.button {
  padding-bottom: 13px;
  text-align: center;
}

.submit__button {
  height: 28px;
  font-size: 16px;
  width: 100px;
}

.disable {
  display: none;
}

.enable {
  display: block;
}

@media(max-width: 1000px) {
  .main {
    width: 90%;
    font-size: 25px;
  }

  .submit__button {
    font-size: 25px;
    width: 60%;
    height: 40px;
  }
}
